generate a python code to check whether a given number is a leap year or not

In [1]:
def is_leap_year(year):
  """
  Checks if a given year is a leap year.

  Args:
    year: The year to check (integer).

  Returns:
    True if the year is a leap year, False otherwise.
  """
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False

# Example usage:
year_to_check = 2024
if is_leap_year(year_to_check):
  print(f"{year_to_check} is a leap year.")
else:
  print(f"{year_to_check} is not a leap year.")

year_to_check = 1900
if is_leap_year(year_to_check):
  print(f"{year_to_check} is a leap year.")
else:
  print(f"{year_to_check} is not a leap year.")

year_to_check = 2000
if is_leap_year(year_to_check):
  print(f"{year_to_check} is a leap year.")
else:
  print(f"{year_to_check} is not a leap year.")

2024 is a leap year.
1900 is not a leap year.
2000 is a leap year.

In [2]:
def cm_to_inches(cm):
  """Converts centimeters to inches."""
  return cm * 0.393701

# Example usage
centimeters = 10
inches = cm_to_inches(centimeters)
print(f"{centimeters} cm is equal to {inches} inches.")

centimeters = 25.4
inches = cm_to_inches(centimeters)
print(f"{centimeters} cm is equal to {inches} inches.")

10 cm is equal to 3.9370100000000003 inches.
25.4 cm is equal to 10.0000054 inches.

In [4]:
def format_name(full_name):
  """
  Formats a full name into first and last names.

  Args:
    full_name: The full name as a string.

  Returns:
    A tuple containing the first name and the last name,
    or (None, None) if the name cannot be split into two parts.
  """
  names = full_name.split()
  if len(names) >= 2:
    first_name = names[0]
    last_name = names[-1]
    return first_name, last_name
  else:
    return None, None

# Get input from the user
full_name_input = input("Enter the full name: ")

# Format and print the name
first, last = format_name(full_name_input)

if first and last:
  print(f"First Name: {first}")
  print(f"Last Name: {last}")
else:
  print("Invalid name format. Please enter at least a first and last name.")

Enter the full name: Abhi M
First Name: Abhi
Last Name: M

In [25]:
# Initialize the Gemini API
try:
  gemini_model = genai.GenerativeModel('gemini-2.5-flash-preview-04-17')
except Exception as e:
  print(f"An error occurred while initializing the model: {e}")

In [26]:
# Define the zero-shot prompt
zero_shot_prompt = """Write a Python function called count_vowels that takes a string as input and returns the number of vowels in the string.
"""

# Generate code with the zero-shot prompt
try:
    zero_shot_response = gemini_model.generate_content(zero_shot_prompt)
    zero_shot_code = zero_shot_response.text
    print("--- Zero-Shot Generated Code ---")
    print(zero_shot_code)
except Exception as e:
    print(f"An error occurred during zero-shot generation: {e}")

An error occurred during zero-shot generation: 400 POST https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-04-17:generateContent?%24alt=json%3Benum-encoding%3Dint: API key not valid. Please pass a valid API key.

WARNING:tornado.access:400 POST /v1beta/models/gemini-2.5-flash-preview-04-17:generateContent?%24alt=json%3Benum-encoding%3Dint (127.0.0.1) 2885.55ms

In [27]:
def count_lines_in_file(file_path):
  """
  Reads a text file and returns the number of lines.

  Args:
    file_path: The path to the text file.

  Returns:
    The number of lines in the file, or -1 if the file cannot be opened.
  """
  try:
    with open(file_path, 'r') as file:
      line_count = sum(1 for line in file)
    return line_count
  except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
    return -1
  except Exception as e:
    print(f"An error occurred: {e}")
    return -1

# Example usage:
# Replace "your_text_file.txt" with the path to your text file
file_path = "your_text_file.txt"
number_of_lines = count_lines_in_file(file_path)

if number_of_lines != -1:
  print(f"The number of lines in '{file_path}' is: {number_of_lines}")

Error: The file 'your_text_file.txt' was not found.